* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  line-height: 1.3;
  background-color: lightgray;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  padding-right: 55px;
}

h1 {
  font-size: 200%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  font-size: 100%;
}

nav a {
  color: white;
  text-decoration: none;
}

.subtitle {
  display: flex;
  text-align: right;
  vertical-align: bottom;
  height: 250px;
  background-image: url("../images/sunset.jpg");
  background-size: cover;
  background-position: center;
}

.main-section {
  height: auto;
}

h2 {
  font-size: 150%;
  color: whitesmoke;
  /* text-align: right; */
  /* vertical-align: bottom; */
  /* position: absolute;
  align-self: flex-end; */
  justify-content: right;
  /* float: right; */
  padding: 40px;
  /* margin:auto; */
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2px;
  height: auto;
}

.left-sidebar {
  margin: 2px;
  width: 200px;
  color: #13293d;
}

.right-section {
  display: block;
  flex: 1 0 0;
  margin: 2px;
  padding: 30px;
  background-color: lightgray;
  border-left-color: #13293d;
  border-left-width: 3px;
  border-style: solid;
  /* height: auto; */
}

p {
  font-size: 25px;
}

h3 {
  font-size: 50px;
  background-color: lightgrey;
  text-align: right;
  padding-right: 20px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2px;
  height: auto;
}

.work-section {
  /* display: block; */
  margin: 2px;
  padding: 30px;
  background-color: lightgray;
  border-left-color: #13293d;
  border-left-width: 3px;
  border-style: solid;
  width: 80%;
  height: 25%;
  position: relative;
}

.work-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: 150px;
  padding: 0px 10px 20px 10px;
}

.work-main img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.work-sub {
  /* display: block; */
  flex-grow: 2;
  flex: 1 1 0;
  width: 50%;
  height: 120px;
  padding: 0px 10px 20px 10px;
}

.work-sub img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

h4 {
  background-color: lightskyblue;
  align-content: center;
  position: absolute;
  align-self: flex-end;
  margin: 10px 10px 20px 0px;
  padding: 10px;
}

h5 {
  background-color: lightskyblue;
  align-content: center;
  position: absolute;
  /* align-self: flex-end; */
  /* margin: 10px; */
  /* padding: 10px; */
}

h6 {
  background-color: lightskyblue;
}

.work-main:hover {
  color: white;
}

.work-sub:hover {
  color: white;
}

.contact-me {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  position: relative;
}

.contact-detail ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
}

.contact-detail a {
  color: #13293d;
  font-size: 125%;
  text-decoration: none;
}