* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

h1 {
  font-size: 200%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-size: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
  }

.subtitle {
    display: flex;
    /* text-align: right;
    vertical-align: bottom; */
    height: 200px;
    /* width: 100%; */
    margin-bottom: 25px;
    background-image: url("../images/sunset.jpg");
    background-size: 1700px 200px;
    background-repeat: no-repeat;
    /* background-size: cover;
    background-position: center; */
  }

  h2 {
    font-size: 250%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    text-align: right;
    vertical-align: bottom;
    position: absolute;
    right: 50px;
    bottom: 500px;
  }