* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightgray;
}

body {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  padding-right: 55px;
}

h1 {
  font-size: 200%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  font-size: 100%;
}

nav a {
  color: white;
  text-decoration: none;
}

.subtitle {
  display: flex;
  text-align: right;
  vertical-align: bottom;
  height: 250px;
  background-image: url("../images/sunset.jpg");
  background-size: cover;
  background-position: center;
}

h2 {
  font-size: 150%;
  color: whitesmoke;
  text-align: right;
  vertical-align: bottom;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.left-sidebar {
  margin: 2px;
  width: 200px;
}

.right-section {
  display: block;
  /* flex-wrap: wrap; */
  flex: 1 0 0;
  margin: 2px;  
}

h3 {
  font-size: 50px;
  background-color: lightgrey;
  text-align: right;
  padding-right: 20px;
}

p {
  /* display: block;
  flex: 1 1 0;
  font-size: 12;
  color: black;
  background-color: lightgrey;
  /* width: 200px; */
  /* height: 200px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-left: 3px solid blue; */ */
  /* border-left: darkgrey;
  border-style: solid;
  border-width: 3px; */
}

.work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.work-main {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
  border-style: solid;
  border-width: 3px;
  border-color: purple;
}

/* h4 {
  display: flex;
  flex-wrap: wrap;
} */

.work-sub {
  flex-wrap: wrap;
  display: block;
  flex: 1 1 0;
  border-style: solid;
  border-width: 1px;
  border-color: green;
  }

.work-sub:hover {
  background-color: #772014;
  color: white;
}

/* h5 {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
} */

.contact-me {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}